
.my-profile-box {
	max-width: 700px;
	margin: 50px auto;
}

.my-profile-image-login {
	width: 250px;
	margin: 0;
}

.my-checkbox-padding {
	padding-right:10px;
}

.my-profile-pic {
	width: 250px;
}

.my-profile-pictures-wanted {
	width: 200px;
}

.my-button {
	background: $buttonBackground;
	margin-top: 20px;
}

.submit-button {
	background: $buttonBackground;
	margin-top: 20px;
	width: 130px;
}

.submit-button:hover {
	background: $buttonHoverBackground;
}


.field-error {
	color: red;
}

.my-our-propositions {
	padding: 5px;
	height: 200px;
	width: 220px;
	margin: 1rem auto;
	margin-top: 50px;
}

.my-present-holder {
	margin: 0px auto;
}

.display-none {
	display: none;
}

.my-image-wrapper {
	height:120px;
}

.helper-my-image-120 {
	max-height: 120px;
}

.carousel .carousel-item img.helper-my-image {
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}

.input-field input[type=text].invalid {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

.carousel {
	height: 300px;
}

.my-select-none {
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.my-our-propositions-offset {
	margin-top:70px;
}

.my-image-box {
	height: 140px;
	width: auto;
}


div.userView {
	height: 160px;

}

.side-nav-login {
	margin-top: 80px;
}

.friend {

	:hover {
		cursor: pointer;
	}
}

.facebooklogin {
	cursor: pointer;
}

.material-icons {
	cursor: pointer;
}
