$bodyBackground: null !default;
$bodyColor: null !default;
$footerBackground: null !default;
$navbarColor: null !default;
$footerColor: null !default;
$buttonBackground: null !default;
$shadow: null !default;
$themeColor: null !default;
$buttonHoverBackground: null !default;


* {
	box-sizing: border-box;
}

html {
	height: 100%;

	body {
		background: $bodyBackground;
		min-height: 100%;
		margin: 0;
		padding: 0;
	}
}

footer {
	color: $footerColor;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: $footerBackground;
	z-index: 100;
		p {
		padding: 0;
		margin: 0;
	}
}
