/*Default declarations*/
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*My styles*/
.my-login-box {
	max-width: 400px;
	min-height: 600px;
	margin: 100px auto;
	box-shadow: 0 0 30px #64b3f4;

	@media (max-width: 400px) { // or #{$retina}
		margin: 0 auto;
		box-shadow: none;
	}
}

.my-profile-box {
	max-width: 700px;
	margin: 60px auto;
}

.my-profile-image-login {
	height: 100px;
	width: auto;
	margin: 20px 0 50px;
}

.my-theme-color {
	background: #ee6e73;
}

.my-main-page {
	min-height: calc(100vh - 157px);
}

.my-footer {
	margin-bottom: 0px;
}

.my-checkbox-padding {
	padding-right:10px;
}

.my-user-text {
	font-size: 16px;
}

.my-profile-pic {
	width: 250px;
}

.my-profile-pictures-wanted {
	width: 200px;
}

.logo {
	width: 50px;
	color: #fff;
}

/*Overriding defaults*/
.page-footer {
	color: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: linear-gradient(to left, #c2e59c , #64b3f4);
	z-index: 100;
		p {
		padding: 0;
		margin: 0;
	}
}

.nav-wrapper{
	background: linear-gradient(to left, #c2e59c , #64b3f4);
}

/*Helper classes*/
.helper-my-image-140 {
	max-height: 140px;
	width: auto;
}



/*
// linear-gradient(to left, #4568DC , #B06AB3);
//  linear-gradient(to left, #C33764 , #1D2671);
// background: linear-gradient(to left, #e96443 , #904e95);
background: linear-gradient(to left, #C9FFBF , #FFAFBD);
background: linear-gradient(to left, #30E8BF , #FF8235);
background: linear-gradient(to left, #c2e59c , #64b3f4)
*/
