$bodyBackground: null !default;
$bodyColor: null !default;
$footerBackground: null !default;
$navbarColor: null !default;
$footerColor: null !default;
$buttonBackground: null !default;
$shadow: null !default;
$themeColor: null !default;
$buttonHoverBackground: null !default;


* {
	box-sizing: border-box;
}

html {
	height: 100%;

	body {
		background: $bodyBackground;
		min-height: 100%;
		margin: 0;
		padding: 0;
	}
}

.my-login-box {
	max-width: 400px;
	min-height: 600px;
	margin: 50px auto 100px;
	box-shadow: $shadow;

	@media (max-width: 450px) {
		margin: 0 auto;
		box-shadow: none;
		padding-bottom: 100px;
	}
}

.my-default-box {
	max-width: 600px;
	min-height: 600px;
	margin: 50px auto 100px;
	box-shadow: $shadow;

	@media (max-width: 450px) {
		margin: 0 auto;
		box-shadow: none;
		padding-bottom: 100px;
	}
}

.my-profile-box {
	max-width: 700px;
	margin: 50px auto;
}

.my-profile-image-login {
	width: 250px;
	margin: 0;
}

.my-main-page {
	min-height: calc(100vh - 157px);
}

.my-footer {
	margin-bottom: 0px;
}

.my-checkbox-padding {
	padding-right:10px;
}

.my-user-text {
	font-size: 16px;
}

.my-profile-pic {
	width: 250px;
}

.my-profile-pictures-wanted {
	width: 200px;
}

.my-button {
	background: $buttonBackground;
	margin-top: 20px;
}

.submit-button {
	background: $buttonBackground;
	margin-top: 20px;
	width: 130px;
}

.submit-button:hover {
	background: $buttonHoverBackground;
}


.field-error {
	color: red;
}

.my-our-propositions {
	padding: 5px;
	height: 200px;
	width: 220px;
	margin: 1rem auto;
	margin-top: 50px;
}

.my-present-holder {
	margin: 0px auto;
}

.display-none {
	display: none;
}

.field-error.small {

}

.logo {
	width: 100px;
	color: #fff;
}

.my-image-wrapper {
	height:120px;
}

.helper-my-image-120 {
	max-height: 120px;
}

.carousel .carousel-item img.helper-my-image {
	height: 120px;
	width: auto;
}


.input-field input[type=text].invalid {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}


footer {
	color: $footerColor;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: $footerBackground;
	z-index: 100;
		p {
		padding: 0;
		margin: 0;
	}
}

footer.page-footer {

}

.carousel {
	height: 300px;
}

.my-select-none {
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.my-our-propositions-offset {
	margin-top:70px;
}

.my-image-box {
	height: 140px;
	width: auto;
}

.sign-toggle {
	padding: 20px;

	.sign-toggle-text {
		color: $themeColor;
		cursor: pointer;
	}
}

div.userView {
	height: 160px;

}

.side-nav-login {
	margin-top: 80px;
}
