$bodyBackground: null !default;
$bodyColor: null !default;
$navbarBackground: null !default;
$footerBackground: null !default;
$navbarColor: null !default;
$footerColor: null !default;
$buttonBackground: null !default;
$blueShadow: null !default;
$redShadow: null !default;


* {
	box-sizing: border-box;
}

html {
	height: 100%;

	body {
		background: $bodyBackground;
		min-height: 100%;
		margin: 0;
		padding: 0;
	}
}

.my-login-box {
	max-width: 400px;
	min-height: 600px;
	margin: 50px auto 100px;
	box-shadow: $blueShadow;

	@media (max-width: 450px) {
		margin: 0 auto;
		box-shadow: none;
		padding-bottom: 100px;
	}
}

.my-profile-box {
	max-width: 700px;
	margin: 50px auto;
}

.my-profile-image-login {
	width: 250px;
	margin: 50px 0 50px;
}

.my-main-page {
	min-height: calc(100vh - 157px);
}

.my-footer {
	margin-bottom: 0px;
}

.my-checkbox-padding {
	padding-right:10px;
}

.my-user-text {
	font-size: 16px;
}

.my-profile-pic {
	width: 250px;
}

.my-profile-pictures-wanted {
	width: 200px;
}

.my-button {
	background: $buttonBackground;
	margin-top: 20px;
}

.logo {
	width: 100px;
	color: #fff;
}


.helper-my-image-140 {
	max-height: 140px;
	width: auto;
}


.nav-wrapper {
	background: $navbarBackground;
}

.input-field input[type=text].invalid {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

footer {
	color: $footerColor;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: $footerBackground;
	z-index: 100;
		p {
		padding: 0;
		margin: 0;
	}
}

footer.page-footer {

}
