//Colors
$blue: #64b3f4;
$lightGreen: #c2e59c;
$white: #ffffff;
$black: #000000;
$lightGrey: #9E9EAD;

$pink: #C33764;
$purple: #1D2671;

$lightPink: #3494E6;
$lightPurple: #EC6EAD;


$yellowPink: #DD5E89;
$lightYellowPink: #F7BB97;


//Functional color names
$bodyBackground: $white;
$bodyColor: $black;
$navbarBackground: linear-gradient(to left,  $lightYellowPink , $yellowPink);
$footerBackground: linear-gradient(to left,  $lightYellowPink , $yellowPink);
$navbarColor: $white;
$footerColor: $white;
$buttonBackground: $yellowPink;
$loaderBackground: $yellowPink;
$themeColor: $yellowPink;


//Common styles
$shadow: 0 0 30px $yellowPink;
