//Colors
$blue: #64b3f4;
$lightGreen: #c2e59c;
$white: #ffffff;
$black: #000000;
$lightGrey: #9E9EAD;

//Functional color names
$bodyBackground: $white;
$bodyColor: $black;
$navbarBackground: linear-gradient(to left, $lightGreen , $blue);
$footerBackground: linear-gradient(to left, $lightGreen , $blue);
$navbarColor: $white;
$footerColor: $white;
$buttonBackground: $blue;


//Common styles
$blueShadow: 0 0 30px $blue; 
