//Colors
$blue: #64b3f4;
$lightGreen: #c2e59c;
$white: #ffffff;
$black: #000000;
$lightGrey: #9E9EAD;

$pink: #C33764;
$purple: #1D2671;

$lightPink: #3494E6;
$lightPurple: #EC6EAD;


$yellowPink: #DD5E89;
$lightYellowPink: #F7BB97;


//Functional color names
$bodyBackground: $white;
$bodyColor: $black;
$navbarBackground: linear-gradient(to left,  $lightYellowPink , $yellowPink);
$footerBackground: linear-gradient(to left,  $lightYellowPink , $yellowPink);
$navbarColor: $white;
$footerColor: $white;
$buttonBackground: $yellowPink;
$buttonHoverBackground: $lightYellowPink;
$loaderBackground: $yellowPink;
$themeColor: $yellowPink;


//Common styles
$shadow: 0 0 30px $yellowPink;

// themes
$theme_0: linear-gradient(to left, #F7BB97 , #DD5E89);
$theme_1: linear-gradient(to left, #c2e59c , #64b3f4);
$theme_2: linear-gradient(to left, #FF4E50 , #F9D423);
$theme_3: linear-gradient(to left, #D3959B , #BFE6BA);
$theme_4: linear-gradient(to left, #004FF9 , #FFF94C);
$theme_5: linear-gradient(to left, #304352 , #d7d2cc);
